*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# but not the wrapper jar
!gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.classpath
*.project
.settings
.metadata

# temporary build files
bin
logs
build
target
/.gradle
/.nb-gradle/

# user specfic settings
gradle.properties

/.sonarlint
/TC.exec/src/main/resources/JMSTestRunner_logback.xml
