# Set the default behavior, in case people don't have core.autocrlf set.
#* text=auto

# Declare files that will always have LF line endings on checkout.
start.sh text eol=lf

# Denote all files that should not be modified.
#*.java -text

# Denote all files that are truly binary and should not be modified.
#*.png binary
#*.jpg binary
