<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- TRACE	DEBUG	INFO	WARN	ERROR	FATAL	OFF -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="de.fraunhofer.iosb.messaginghelpers.PropertyBasedClientSetup" level="DEBUG" />
	<logger name="nato.ivct.commander.CmdHeartbeatSend" level="DEBUG" />
	<logger name="nato.ivct.commander.TestCmdHeartbeat" level="DEBUG" />
	

</configuration>